// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
$primary-font: 'Gabarito', sans-serif;

// Colors
$black-color: #1b1b1b;
$white-color: #ffffff;